<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma/css/bulma.css" />
        <link rel="stylesheet" type="text/css" href="styles.css" />
    </head>
    <body>
        <div id="app">
            <div class="field">
                <label class="label">Name</label>
                <input v-model="studentName"
                    class="input"
                    type="text"
                    placeholder="Enter your name">
            </div>

            <div class="field">
                <label class="label">Email</label>
                <input v-model="studentEmail"
                    class="input"
                    type="text"
                    placeholder="Enter your email">
            </div>

            <div class="field">
                <label class="label">Class</label>
                <input v-model="studentClass"
                    class="input"
                    type="text"
                    placeholder="Enter the class you need help with">
            </div>

            <div class="field">
                <label class="label">Choose Session Date</label>
                <input v-model="sessionDate"
                    class="input"
                    type="date">
            </div>

            <div class="field">
                <label class="label">Session Length</label>
                <div class="select">
                    <select v-model="sessionLength">
                        <option disabled value="0">Select Session Length</option>
                        <option value="30">30 Minutes</option>
                        <option value="60">60 Minutes</option>
                        <option value="90">90 Minutes</option>
                        <option value="Other">Other...</option>
                    </select>
                </div>
            </div>

            <div class="field">
                <button @click="sendRequest">Send Request</button>
            </div>
        </div>
        <script src="https://unpkg.com/vue"></script>
        <script src="main.js"></script>
    </body>
</html>
